---
import Layout from "../layouts/Layout.astro";
import facebook from "/facebook.svg";
import location from "/location.svg";
---

<Layout title="Hoteles Asociados | Hoteles Ciudad del Carmen">
  <div class="hero"></div>
  <section>
    <h3>Hoteles Asociados</h3>
    <div class="hoteles-list">
      <div class="hoteles-card">
        <div
          class="hoteles-card-image"
          style="background-image: url(/hotel-parque.jpeg)"
        >
        </div>
        <div class="hoteles-card-summary">
          <h3 class="hoteles-card-heading">Hotel del Parque</h3>
          <p>
            Contamos con una excelente ubicación, podrás caminar por el centro
            de la ciudad donde te recomendamos visitar la iglesia de Nuestra
            Señora del Carmen, la Stella Maris y el Museo Victoriano Nieves
            Céspedes.
          </p>
          <div class="redes">
            <a
              target="_blank"
              href="https://www.facebook.com/HotelDelParqueCarmen"
            >
              <img src={facebook} alt="facebook" />
            </a>
            <a
              target="_blank"
              href="https://www.google.com/maps/place/Hotel+del+Parque/@18.638284,-91.836738,15z/data=!4m20!1m10!3m9!1s0x85f1a8215533473b:0x55659cb5934db1e0!2sHotel+del+Parque!5m2!4m1!1i2!8m2!3d18.638284!4d-91.836738!16s%2Fg%2F1ts3lkd8!3m8!1s0x85f1a8215533473b:0x55659cb5934db1e0!5m2!4m1!1i2!8m2!3d18.638284!4d-91.836738!16s%2Fg%2F1ts3lkd8"
            >
              <img src={location} alt="ubicacion" />
            </a>
          </div>
        </div>
      </div>

      <div class="hoteles-card">
        <div
          class="hoteles-card-image"
          style="background-image: url(/holiday-inn-express.jpeg)"
        >
        </div>
        <div class="hoteles-card-summary">
          <h3 class="hoteles-card-heading">Holiday Inn Express</h3>
          <p>
            El Holiday Inn Express es un moderno hotel con 205 amplias
            habitaciones, equipado gimnasio con vista panorámica y agradable
            alberca templada. Después de una noche de descanso, disfrute de un
            delicioso desayuno Americano en cortesía.
          </p>
          <div class="redes">
            <a
              target="_blank"
              href="https://www.facebook.com/holidayinnexpresscarmen"
            >
              <img src={facebook} alt="facebook" />
            </a>
            <a
              target="_blank"
              href="https://www.google.com/maps/place/Holiday+Inn+Express+Cd.+del+Carmen,+an+IHG+Hotel/@18.6485925,-91.8179049,17z/data=!4m20!1m10!3m9!1s0x85d1fe4a88d576d5:0xa10eba2d138adaaa!2sHoliday+Inn+Express+Cd.+del+Carmen,+an+IHG+Hotel!5m2!4m1!1i2!8m2!3d18.648195!4d-91.8176841!16s%2Fg%2F1tkrm4pg!3m8!1s0x85d1fe4a88d576d5:0xa10eba2d138adaaa!5m2!4m1!1i2!8m2!3d18.648195!4d-91.8176841!16s%2Fg%2F1tkrm4pg"
            >
              <img src={location} alt="ubicacion" />
            </a>
          </div>
        </div>
      </div>

      <div class="hoteles-card">
        <div
          class="hoteles-card-image"
          style="background-image: url(/hotellinos.jpg)"
        >
        </div>
        <div class="hoteles-card-summary">
          <h3 class="hoteles-card-heading">Hotel Lino's</h3>
          <p>
            Este hotel colorido y tranquilo se encuentra a 15 minutos a pie del
            estadio de béisbol estadio Resu
          </p>
          <div class="redes">
            <a target="_blank" href="https://www.facebook.com/Mihotellinos">
              <img src={facebook} alt="facebook" />
            </a>
            <a
              target="_blank"
              href="https://www.google.com/maps/place/Hotel+Lino's/@18.6418611,-91.8245234,15z/data=!4m2!3m1!1s0x0:0xa64687ae1d5e5e56?sa=X&ved=2ahUKEwi0hsqXg8v9AhWXh-4BHVs0AiUQ_BJ6BAhTEAc"
            >
              <img src={location} alt="ubicacion" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="hoteles-card">
      <div
        class="hoteles-card-image"
        style="background-image: url(/hotellossandes.jpg)"
      >
      </div>
      <div class="hoteles-card-summary">
        <h3 class="hoteles-card-heading">Hotel Lossandes</h3>
        <p>
          Su casa en Ciudad del Carmen, ven a disfrutar de un merecido descanso
          en Hotel Lossandes.
        </p>
        <div class="redes">
          <a target="_blank" href="https://www.facebook.com/lossandeshotel">
            <img src={facebook} alt="facebook" />
          </a>
          <a
            target="_blank"
            href="https://www.google.com/maps/place/Hotel+Lossandes/@18.652863,-91.8189896,16.43z/data=!4m9!3m8!1s0x85f1077690df8a81:0x8311b58e8ab2ce3d!5m2!4m1!1i2!8m2!3d18.6540406!4d-91.8162615!16s%2Fg%2F1td5rmvn"
          >
            <img src={location} alt="ubicacion" />
          </a>
        </div>
      </div>
    </div>

    <div class="hoteles-card">
      <div
        class="hoteles-card-image"
        style="background-image: url(/hotelhaciendareal.jpg)"
      >
      </div>
      <div class="hoteles-card-summary">
        <h3 class="hoteles-card-heading">Hotel Hacienda Real</h3>
        <p>
          Hotel Hacienda Real se caracteriza por su exclusividad. Fundado en el
          año 2000 y con una reciente remodelación, este hotel de lujo recibe a
          familias de vacaciones igual que a viajeros de negocios o por asistir
          a convenciones. Conozca los principales servicios que disponemos en
          todo el hotel para todos los huéspedes y no dude en hacer su
          reservación hoy mismo para disfrutar nuestra tarifa más baja en línea.
        </p>
        <div class="redes">
          <a
            target="_blank"
            href="https://www.facebook.com/HotelHaciendaRealCarmen"
          >
            <img src={facebook} alt="facebook" />
          </a>
          <a
            target="_blank"
            href="https://www.google.com/maps/place/Hotel+Hacienda+Real/@18.6461009,-91.8144073,15z/data=!4m2!3m1!1s0x0:0xdb40632d7038d22?sa=X&ved=2ahUKEwiRwMKPh8v9AhVqHUQIHdPZC2MQ_BJ6BQiLARAH"
          >
            <img src={location} alt="ubicacion" />
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .hero {
    max-width: 100%;
    height: 400px;
    background-image: url(/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hoteles-card {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    border: solid 2px #e0e0e0;
    border-radius: 5px;
    height: 350px;
    margin-bottom: 30px;
  }

  .hoteles-card-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hoteles-card-summary {
    padding: 30px;
  }

  .hoteles-card-heading {
    font-size: 26px;
  }

  .redes {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .redes img {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }

  @media only screen and (max-width: 900px) {
    .hoteles-card {
      display: block;
      height: auto;
    }

    .hoteles-card-image {
      height: 200px;
    }
  }
</style>
